body{
    background-image: url(https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?cs=srgb&dl=pexels-pixabay-260922.jpg&fm=jpg);
    background-size: cover;
}
a{
    text-decoration: none;
    margin-left: 19px;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(10px);
}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
header img{
    height: 90px;
    width: 140;    
    margin-left: 40px;
    backdrop-filter: blur(10px);

}
.links{
    margin-right: 180px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 70px;
    backdrop-filter: blur(10px);
    width: 420px;
    padding-left: 30px;
    margin: 0;
}
h4{
    color: white;
    backdrop-filter: blur(10px);

}
section{
     /* margin-left: 80px; */
     margin-top: 160px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}