*{
    margin: 0px;
    padding: 0px;
}
.contact_heading{
    font-size: 2rem;
    line-height: 3.75rem;
    text-transform: uppercase;
    text-align: center;
}
.contact_main_heading{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 1000;
    color: #42200b;
    text-shadow: 2px 2px red;
}  
.contact_us{
    margin-top: 5rem;
    position: relative;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
input{
    height: 1.5rem;
    width: 17rem;
    font-size: 1.2rem;
    outline: none;
    margin: 0.5rem;
    padding: 0.7rem;
    border: 1px solid black;
}
.btn{
    height: 3rem;
    width: 18.5rem;
    font-size: 1.2rem;
    outline: none;
    margin: 0.5rem;
    padding: 0.7rem;
    font-weight: 600;
    background-color: red;
    color: white;
    border: none;
}
.img1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30rem
}
.img2{
    top: 0px;
    right: 0px;
    position: absolute;
    width: 20rem;
}
.footer{
    margin-top: 10rem;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 5rem;
    padding-left: 20rem;
    display: flex;
    justify-content: space-between;
}

.footer_heading{
    font-size: 2rem;
}
.footer p{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.footer u{
    margin-top: 2rem;
}
.social img{
    width: 2rem;
    margin: 0.5rem;
}
.social h4{
    margin-bottom: 2rem;
    font-size: 2rem;
}